@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#fase1 {
    background-color: #DEE2E6;
}

#fase2 {
    background-color: #343A40;
}

#fase3 {
    background-color: #DEE2E6;
}

#fase4 {
    background-color: #343A40;
}

#fase5 {
    background-color: #DEE2E6;
}

#fase6 {
    background-color: #DEE2E6;
}

#productfase {
    background-color: #343A40;
}

#conclusiefase {
    background-color: #DEE2E6;
}

#reflectiefase {
    background-color: #343A40;
}

#whitetext p {
    color: lightgray;
}

#conclusie p {
    color: gray;
}

/*sitewide*/

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
    background-color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    color: #FF0B77;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 8vh;
    color: white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: #FF0B77;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    font-size: 3vh;
    font-style: italic;
    color: #FF0B77;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    color: gray;
    margin: 0 auto;
    margin-top: 20px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #FF0B77;
    margin: 0 auto;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    color: black;
}

i {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    color: black;
}

.conclusie {
    background-color: #CED4DA;
    padding: 20px;
    margin-top: 20px;
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

strong {
    font-weight: 600;
}

.audioplayer {
    text-align: center;
}

.artparent {
    width: 100%;
    float: left;
}

.audioparent {
    width: 100%;
    float: left;
    margin-bottom: 5vh;
}

.track {
    width: 50%;
    float: left;
}

.sound {
    margin: 0 auto;
}

.audiotext {
    font-weight: 800;
}

.linkpage:hover {
    color: #FF0B77;
}

.link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #FF0B77;
}

.linkdot {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #FF0B77;
}

.image-regular {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-regular:hover {
    cursor: pointer;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #DC6D84;
}*/

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    font-family: 'Poppins', sans-serif;
    ;
    color: white;
    font-size: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.anti-overflow {
    overflow-x: hidden;
    max-width: 100vw;
}

.button {
    background-color: #FF0B77;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.intro-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.overlayimage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("img/backgroundimagevoid.png");
    z-index: 100;
    margin-bottom: 10vh;
    background-position: center;
}

.topheader {
    justify-content: space-between;
    width: 100%;
    padding-top: 10vh;
    z-index: 10000;
    position: absolute;
    color: white;
}

.top-header-menu-item {
    right: 0;
    display: block;
    margin-left: 15px;
    color: white;
}

.top-header-menu-item:hover {
    color: #FF0B77;
    cursor: pointer;
}

.header {
    z-index: 10000;
    position: absolute;
    right: 5%;
    top: 100px;
}

.sticky {
    position: fixed;
}

.top-menu {

    margin: 0 auto;

}

.top-menu-intro {

    flex-wrap: wrap;
    margin: 0 auto;
    flex-wrap: wrap;
    float: right;
    margin-right: 50px;
}

.top-menu-wrapper {
    flex-wrap: wrap;
}

.top-menu-item {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    color: black;
    margin: 0 auto;
}

.top-menu-item:hover {
    color: #FF0B77;
    cursor: pointer;
}

.intro-text {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1000;
}

.inleiding-slide {
    position: relative;
}

.proces-section {
    /*background-color: #EDEDED;*/
}

.proces-slide {}

.block-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: table;
}

.block-left {
    width: 45%;
    float: left;
    color: white;
    display: table;
}

.block-left-text {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.block-right {
    width: 45%;
    float: right;
    margin-top: 10vh;
    color: white;
    display: table;
}

.block-right-text {
    display: table-cell;
    vertical-align: middle;
}

.block-full {
    width: 70%;
    float: left;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    display: table;
}

.block-full-text {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.about-slide {
    background-size: 100%;
    margin: 0 auto;
}

.about-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.about-wrapper-cv {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.about-left {
    width: 50%;
    height: 80vh;
    float: left;
    margin-top: 10vh;
    color: white;
    display: table;
    padding-right: 1%;
}

.about-left-text {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.about-right {
    position: relative;
    float: left;
    right: 0;
    width: 49%;
    height: 80vh;
    margin-top: 10vh;
    background-image: url("img/003.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-left-cv {
    width: 50%;
    height: 80vh;
    float: left;
    margin-top: 10vh;
    color: white;
    display: table;
    padding-right: 1%;
}

.about-left-text-cv {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.about-right-cv {
    width: 49%;
    height: 80vh;
    float: left;
    margin-top: 10vh;
    color: white;
    display: table;
}

.about-right-text-cv {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

/*work slide*/

.work-slide {
    background-color: #ECCBBD;
    background-size: 100%;
    margin: 0 auto;
}

.work-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.hidden {
    display: none;
}

.work-left {
    position: relative;
    float: left;
    right: 0;
    width: 40%;
    height: 60vh;
    margin-top: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.work-right {
    width: 40%;
    height: 80vh;
    float: left;
    margin-top: 10vh;
    color: white;
    display: table;
    padding-left: 20px;
}

.work-right-text {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.project:hover {
    cursor: pointer;
}

.project:hover .work-left {
    box-shadow: 0 0px 8px 0 gray, 0 6px 20px 0 gray;
}

.project:hover .work-right-text {
    text-shadow: 0 0px 8px gray;
}

.buttonparent {
    width: 100%;
    display: table;
    padding-bottom: 10vh;
    background-color: #ECCBBD;
}

.buttonmoreprojects {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 0 auto;
    display: table;
}

.buttonmoreprojects a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.4vh;
}

.buttonmoreprojects:hover {
    background-color: white;
    cursor: pointer;
    color: #ECCBBD;
}

/*contact slide*/

.contact-slide {
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.contact-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.contact-left {
    width: 50%;
    height: 60vh;
    float: left;
    margin-top: 20vh;
    color: white;
    display: table;
}

.contact-left-text {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.contact-img {
    position: absolute;
    float: right;
    right: 0;
    width: 50%;
    height: 60vh;
    margin-top: 20vh;
    background-image: url("img/006.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    height: 80vh;
    margin-top: 6vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    ;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 160px;
    z-index: 1;
    background-color: #E3E3E3;
    border-radius: 4px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #FF0B77;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #dropdown {
    color: #FF0B77;
}

/* Slideshow container */

.slideshow-container {
    position: relative;
    height: 25vh;
}

/* Slides */

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */

.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */

q {
    color: #FF0B77;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}

/* Add a blue color to the author */

.author {
    color: cornflowerblue;
}