body, html {
    height: 100%;
    margin: 0;
    background-image: url("backgroundimage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    }

.os {
    position: absolute;
    height: 100vh;
    bottom: 0;
}

.computerimg {
    position: absolute;
    width: 44vw;
    bottom: 0;
    padding-bottom: 0 !important;
    margin-left: 28vw;
}

.window {
    position: absolute;
    top: 32vh;
    height: 35vh;
    width: 30vw;
    margin-left: 35vw;
    background-image: url("backgroundchat.png");
    background-size: 100% 100%;
}